.CharacterWizardClassItem {
  display: flex;
  justify-content: start;
  margin-top: 2px;
  border: solid grey;
}

/* .add-race {
    display: inline-block;
  } */

.add-class {
  align-self: center;
  background: none;
  border: none;
  width: 40px;
}
